{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dev.finance$</title>

    <link rel="stylesheet" href="{% static 'style.css'%}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <img src="{% static 'assets/logo.svg'%}" alt="Logo Dev Finance" />
    </header>

    <main class="container">
      <section id="balance">
        <h2 class="sr-only">Balanço</h2>

        <div class="card">
          <h3>
            <span> Entradas </span>
            <img src="{% static 'assets/income.svg'%}" alt="Image de entradas" />
          </h3>
          <p id="incomeDisplay">R$ 0.000,00</p>
        </div>

        <div class="card">
          <h3>
            <span> Saídas </span>
            <img src="{% static 'assets/expense.svg'%}" alt="Image de saídas" />
          </h3>
          <p id="expenseDisplay">R$ 0.000,00</p>
        </div>

        <div class="card total">
          <h3>
            <span> Total </span>
            <img src="{% static 'assets/total.svg'%}" alt="Image de total" />
          </h3>
          <p id="totalDisplay">R$ 0.000,00</p>
        </div>
      </section>

      <section id="transaction">
        <h2 class="sr-only">Transações</h2>

        <div class="newDark">
          <a href="#" onclick="Modal.toogle()" class="button new"
            >+ Nova Transação</a
          >

          <button class="toDark" onclick="Utils.toogleDarkMode()">
            Toogle Dark Mode
          </button>
        </div>

        <table id="data-table">
          <thead>
            <tr>
              <th>Descrição</th>
              <th>Valor</th>
              <th>Data</th>
              <th></th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </section>
    </main>

    <div class="modal-overlay">
      <div class="modal">
        <div id="form">
          <h2>Nova Transação</h2>
          <form action="" onsubmit="Form.submit(event)">
            <div class="input-group">
              <label class="sr-only" for="description">Descrição</label>
              <input
                type="text"
                id="description"
                name="description"
                placeholder="Descrição"
              />
            </div>

            <div class="input-group">
              <label class="sr-only" for="amount">Valor</label>
              <input
                type="number"
                step="0.01"
                id="amount"
                name="amount"
                placeholder="0,00"
              />
              <small class="help"
                >Use apenas números e "." (ponto) para casas decimais
              </small>
              <div class="expenseCheckDiv">
                <label for="expense" class="expenseText"
                  >Selecione se for saída:</label
                >

                <label class="checkLabel">
                  <input type="checkbox" class="expenseCheck" id="expense" />
                  <span class="ckeckSpan"></span>
                </label>
              </div>
            </div>

            <div class="input-group">
              <label class="sr-only" for="date">Data</label>
              <input type="date" id="date" name="date" />
            </div>

            <div class="input-group actions">
              <a onclick="Modal.toogle()" href="#" class="button cancel"
                >Cancelar</a
              >
              <button>Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <footer><p>dev.finance$</p></footer>

    <script src="{% static 'script.js'%}"></script>
  </body>
</html>